// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../core/resource';
import { APIPromise } from '../core/api-promise';
import { type Uploadable } from '../core/uploads';
import { RequestOptions } from '../internal/request-options';
import { maybeMultipartFormRequestOptions, multipartFormRequestOptions } from '../internal/uploads';

export class Images extends APIResource {
  /**
   * You can call this endpoint with either:
   *
   * - `multipart/form-data`: use binary uploads via `image` (and optional `mask`).
   * - `application/json`: use `images` (and optional `mask`) as references with
   *   either `image_url` or `file_id`.
   *
   * Note that JSON requests use `images` (array) instead of the multipart `image`
   * field.
   *
   * @example
   * ```ts
   * const imagesResponse = await client.images.createEdit({
   *   images: [
   *     { image_url: 'https://example.com/source-image.png' },
   *   ],
   *   prompt: 'Add a watercolor effect to this image',
   *   model: 'gpt-image-1.5',
   *   quality: 'high',
   *   size: '1024x1024',
   * });
   * ```
   */
  createEdit(body: ImageCreateEditParams, options?: RequestOptions): APIPromise<ImagesResponse> {
    return this._client.post(
      '/images/edits',
      maybeMultipartFormRequestOptions({ body, ...options }, this._client),
    );
  }

  /**
   * Creates an image given a prompt. [Learn more](/docs/guides/images).
   *
   * @example
   * ```ts
   * const imagesResponse = await client.images.createGeneration(
   *   { prompt: 'A cute baby sea otter' },
   * );
   * ```
   */
  createGeneration(body: ImageCreateGenerationParams, options?: RequestOptions): APIPromise<ImagesResponse> {
    return this._client.post('/images/generations', { body, ...options });
  }

  /**
   * Creates a variation of a given image. This endpoint only supports `dall-e-2`.
   *
   * @example
   * ```ts
   * const imagesResponse = await client.images.createVariation({
   *   image: fs.createReadStream('path/to/file'),
   * });
   * ```
   */
  createVariation(body: ImageCreateVariationParams, options?: RequestOptions): APIPromise<ImagesResponse> {
    return this._client.post(
      '/images/variations',
      multipartFormRequestOptions({ body, ...options }, this._client),
    );
  }
}

/**
 * Reference an input image by either URL or uploaded file ID. Provide exactly one
 * of `image_url` or `file_id`.
 */
export interface ImageRefParam {
  /**
   * The File API ID of an uploaded image to use as input.
   */
  file_id?: string;

  /**
   * A fully qualified URL or base64-encoded data URL.
   */
  image_url?: string;
}

/**
 * The response from the image generation endpoint.
 */
export interface ImagesResponse {
  /**
   * The Unix timestamp (in seconds) of when the image was created.
   */
  created: number;

  /**
   * The background parameter used for the image generation. Either `transparent` or
   * `opaque`.
   */
  background?: 'transparent' | 'opaque';

  /**
   * The list of generated images.
   */
  data?: Array<ImagesResponse.Data>;

  /**
   * The output format of the image generation. Either `png`, `webp`, or `jpeg`.
   */
  output_format?: 'png' | 'webp' | 'jpeg';

  /**
   * The quality of the image generated. Either `low`, `medium`, or `high`.
   */
  quality?: 'low' | 'medium' | 'high';

  /**
   * The size of the image generated. Either `1024x1024`, `1024x1536`, or
   * `1536x1024`.
   */
  size?: '1024x1024' | '1024x1536' | '1536x1024';

  /**
   * For `gpt-image-1` only, the token usage information for the image generation.
   */
  usage?: ImagesResponse.Usage;
}

export namespace ImagesResponse {
  /**
   * Represents the content or the URL of an image generated by the OpenAI API.
   */
  export interface Data {
    /**
     * The base64-encoded JSON of the generated image. Returned by default for the GPT
     * image models, and only present if `response_format` is set to `b64_json` for
     * `dall-e-2` and `dall-e-3`.
     */
    b64_json?: string;

    /**
     * For `dall-e-3` only, the revised prompt that was used to generate the image.
     */
    revised_prompt?: string;

    /**
     * When using `dall-e-2` or `dall-e-3`, the URL of the generated image if
     * `response_format` is set to `url` (default value). Unsupported for the GPT image
     * models.
     */
    url?: string;
  }

  /**
   * For `gpt-image-1` only, the token usage information for the image generation.
   */
  export interface Usage {
    /**
     * The number of tokens (images and text) in the input prompt.
     */
    input_tokens: number;

    /**
     * The input tokens detailed information for the image generation.
     */
    input_tokens_details: Usage.InputTokensDetails;

    /**
     * The number of output tokens generated by the model.
     */
    output_tokens: number;

    /**
     * The total number of tokens (images and text) used for the image generation.
     */
    total_tokens: number;

    /**
     * The output token details for the image generation.
     */
    output_tokens_details?: Usage.OutputTokensDetails;
  }

  export namespace Usage {
    /**
     * The input tokens detailed information for the image generation.
     */
    export interface InputTokensDetails {
      /**
       * The number of image tokens in the input prompt.
       */
      image_tokens: number;

      /**
       * The number of text tokens in the input prompt.
       */
      text_tokens: number;
    }

    /**
     * The output token details for the image generation.
     */
    export interface OutputTokensDetails {
      /**
       * The number of image output tokens generated by the model.
       */
      image_tokens: number;

      /**
       * The number of text output tokens generated by the model.
       */
      text_tokens: number;
    }
  }
}

/**
 * The number of partial images to generate. This parameter is used for streaming
 * responses that return partial images. Value must be between 0 and 3. When set to
 * 0, the response will be a single image sent in one streaming event.
 *
 * Note that the final image may be sent before the full number of partial images
 * are generated if the full image is generated more quickly.
 */
export type PartialImages = number | null;

export interface ImageCreateEditParams {
  /**
   * Input image references to edit. For GPT image models, you can provide up to 16
   * images.
   */
  images: Array<ImageRefParam>;

  /**
   * A text description of the desired image edit.
   */
  prompt: string;

  /**
   * Background behavior for generated image output.
   */
  background?: 'transparent' | 'opaque' | 'auto' | null;

  /**
   * Controls fidelity to the original input image(s).
   */
  input_fidelity?: 'high' | 'low' | null;

  /**
   * Reference an input image by either URL or uploaded file ID. Provide exactly one
   * of `image_url` or `file_id`.
   */
  mask?: ImageRefParam;

  /**
   * The model to use for image editing.
   */
  model?:
    | (string & {})
    | 'gpt-image-1.5'
    | 'gpt-image-1'
    | 'gpt-image-1-mini'
    | 'chatgpt-image-latest'
    | null;

  /**
   * Moderation level for GPT image models.
   */
  moderation?: 'low' | 'auto' | null;

  /**
   * The number of edited images to generate.
   */
  n?: number | null;

  /**
   * Compression level for `jpeg` or `webp` output.
   */
  output_compression?: number | null;

  /**
   * Output image format. Supported for GPT image models.
   */
  output_format?: 'png' | 'jpeg' | 'webp' | null;

  /**
   * The number of partial images to generate. This parameter is used for streaming
   * responses that return partial images. Value must be between 0 and 3. When set to
   * 0, the response will be a single image sent in one streaming event.
   *
   * Note that the final image may be sent before the full number of partial images
   * are generated if the full image is generated more quickly.
   */
  partial_images?: PartialImages | null;

  /**
   * Output quality for GPT image models.
   */
  quality?: 'low' | 'medium' | 'high' | 'auto' | null;

  /**
   * Requested output image size.
   */
  size?: 'auto' | '1024x1024' | '1536x1024' | '1024x1536' | null;

  /**
   * Stream partial image results as events.
   */
  stream?: boolean | null;

  /**
   * A unique identifier representing your end-user, which can help OpenAI monitor
   * and detect abuse.
   */
  user?: string;
}

export interface ImageCreateGenerationParams {
  /**
   * A text description of the desired image(s). The maximum length is 32000
   * characters for the GPT image models, 1000 characters for `dall-e-2` and 4000
   * characters for `dall-e-3`.
   */
  prompt: string;

  /**
   * Allows to set transparency for the background of the generated image(s). This
   * parameter is only supported for the GPT image models. Must be one of
   * `transparent`, `opaque` or `auto` (default value). When `auto` is used, the
   * model will automatically determine the best background for the image.
   *
   * If `transparent`, the output format needs to support transparency, so it should
   * be set to either `png` (default value) or `webp`.
   */
  background?: 'transparent' | 'opaque' | 'auto' | null;

  /**
   * The model to use for image generation. One of `dall-e-2`, `dall-e-3`, or a GPT
   * image model (`gpt-image-1`, `gpt-image-1-mini`, `gpt-image-1.5`). Defaults to
   * `dall-e-2` unless a parameter specific to the GPT image models is used.
   */
  model?:
    | (string & {})
    | 'gpt-image-1.5'
    | 'dall-e-2'
    | 'dall-e-3'
    | 'gpt-image-1'
    | 'gpt-image-1-mini'
    | null;

  /**
   * Control the content-moderation level for images generated by the GPT image
   * models. Must be either `low` for less restrictive filtering or `auto` (default
   * value).
   */
  moderation?: 'low' | 'auto' | null;

  /**
   * The number of images to generate. Must be between 1 and 10. For `dall-e-3`, only
   * `n=1` is supported.
   */
  n?: number | null;

  /**
   * The compression level (0-100%) for the generated images. This parameter is only
   * supported for the GPT image models with the `webp` or `jpeg` output formats, and
   * defaults to 100.
   */
  output_compression?: number | null;

  /**
   * The format in which the generated images are returned. This parameter is only
   * supported for the GPT image models. Must be one of `png`, `jpeg`, or `webp`.
   */
  output_format?: 'png' | 'jpeg' | 'webp' | null;

  /**
   * The number of partial images to generate. This parameter is used for streaming
   * responses that return partial images. Value must be between 0 and 3. When set to
   * 0, the response will be a single image sent in one streaming event.
   *
   * Note that the final image may be sent before the full number of partial images
   * are generated if the full image is generated more quickly.
   */
  partial_images?: PartialImages | null;

  /**
   * The quality of the image that will be generated.
   *
   * - `auto` (default value) will automatically select the best quality for the
   *   given model.
   * - `high`, `medium` and `low` are supported for the GPT image models.
   * - `hd` and `standard` are supported for `dall-e-3`.
   * - `standard` is the only option for `dall-e-2`.
   */
  quality?: 'standard' | 'hd' | 'low' | 'medium' | 'high' | 'auto' | null;

  /**
   * The format in which generated images with `dall-e-2` and `dall-e-3` are
   * returned. Must be one of `url` or `b64_json`. URLs are only valid for 60 minutes
   * after the image has been generated. This parameter isn't supported for the GPT
   * image models, which always return base64-encoded images.
   */
  response_format?: 'url' | 'b64_json' | null;

  /**
   * The size of the generated images. Must be one of `1024x1024`, `1536x1024`
   * (landscape), `1024x1536` (portrait), or `auto` (default value) for the GPT image
   * models, one of `256x256`, `512x512`, or `1024x1024` for `dall-e-2`, and one of
   * `1024x1024`, `1792x1024`, or `1024x1792` for `dall-e-3`.
   */
  size?:
    | 'auto'
    | '1024x1024'
    | '1536x1024'
    | '1024x1536'
    | '256x256'
    | '512x512'
    | '1792x1024'
    | '1024x1792'
    | null;

  /**
   * Generate the image in streaming mode. Defaults to `false`. See the
   * [Image generation guide](/docs/guides/image-generation) for more information.
   * This parameter is only supported for the GPT image models.
   */
  stream?: boolean | null;

  /**
   * The style of the generated images. This parameter is only supported for
   * `dall-e-3`. Must be one of `vivid` or `natural`. Vivid causes the model to lean
   * towards generating hyper-real and dramatic images. Natural causes the model to
   * produce more natural, less hyper-real looking images.
   */
  style?: 'vivid' | 'natural' | null;

  /**
   * A unique identifier representing your end-user, which can help OpenAI to monitor
   * and detect abuse. [Learn more](/docs/guides/safety-best-practices#end-user-ids).
   */
  user?: string;
}

export interface ImageCreateVariationParams {
  /**
   * The image to use as the basis for the variation(s). Must be a valid PNG file,
   * less than 4MB, and square.
   */
  image: Uploadable;

  /**
   * The model to use for image generation. Only `dall-e-2` is supported at this
   * time.
   */
  model?: (string & {}) | 'dall-e-2' | null;

  /**
   * The number of images to generate. Must be between 1 and 10.
   */
  n?: number | null;

  /**
   * The format in which the generated images are returned. Must be one of `url` or
   * `b64_json`. URLs are only valid for 60 minutes after the image has been
   * generated.
   */
  response_format?: 'url' | 'b64_json' | null;

  /**
   * The size of the generated images. Must be one of `256x256`, `512x512`, or
   * `1024x1024`.
   */
  size?: '256x256' | '512x512' | '1024x1024' | null;

  /**
   * A unique identifier representing your end-user, which can help OpenAI to monitor
   * and detect abuse. [Learn more](/docs/guides/safety-best-practices#end-user-ids).
   */
  user?: string;
}

export declare namespace Images {
  export {
    type ImageRefParam as ImageRefParam,
    type ImagesResponse as ImagesResponse,
    type PartialImages as PartialImages,
    type ImageCreateEditParams as ImageCreateEditParams,
    type ImageCreateGenerationParams as ImageCreateGenerationParams,
    type ImageCreateVariationParams as ImageCreateVariationParams,
  };
}
