// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../core/resource';
import * as ResponsesAPI from './responses';
import * as AssistantsAPI from './assistants';
import * as CompletionsAPI from './chat/completions';
import * as ContainersAPI from './containers/containers';
import * as ItemsAPI from './conversations/items';
import * as CallsAPI from './realtime/calls';
import * as VectorStoresAPI from './vector-stores/vector-stores';
import { APIPromise } from '../core/api-promise';
import { buildHeaders } from '../internal/headers';
import { RequestOptions } from '../internal/request-options';
import { path } from '../internal/utils/path';

export class Responses extends APIResource {
  /**
   * Creates a model response. Provide [text](/docs/guides/text) or
   * [image](/docs/guides/images) inputs to generate [text](/docs/guides/text) or
   * [JSON](/docs/guides/structured-outputs) outputs. Have the model call your own
   * [custom code](/docs/guides/function-calling) or use built-in
   * [tools](/docs/guides/tools) like [web search](/docs/guides/tools-web-search) or
   * [file search](/docs/guides/tools-file-search) to use your own data as input for
   * the model's response.
   *
   * @example
   * ```ts
   * const response = await client.responses.create({
   *   body: {},
   * });
   * ```
   */
  create(params: ResponseCreateParams, options?: RequestOptions): APIPromise<Response> {
    const { body } = params;
    return this._client.post('/responses', { body: body, ...options });
  }

  /**
   * Retrieves a model response with the given ID.
   *
   * @example
   * ```ts
   * const response = await client.responses.retrieve(
   *   'resp_677efb5139a88190b512bc3fef8e535d',
   * );
   * ```
   */
  retrieve(
    responseID: string,
    query: ResponseRetrieveParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<Response> {
    return this._client.get(path`/responses/${responseID}`, { query, ...options });
  }

  /**
   * Deletes a model response with the given ID.
   *
   * @example
   * ```ts
   * await client.responses.delete(
   *   'resp_677efb5139a88190b512bc3fef8e535d',
   * );
   * ```
   */
  delete(responseID: string, options?: RequestOptions): APIPromise<void> {
    return this._client.delete(path`/responses/${responseID}`, {
      ...options,
      headers: buildHeaders([{ Accept: '*/*' }, options?.headers]),
    });
  }

  /**
   * Cancels a model response with the given ID. Only responses created with the
   * `background` parameter set to `true` can be cancelled.
   * [Learn more](/docs/guides/background).
   *
   * @example
   * ```ts
   * const response = await client.responses.cancel(
   *   'resp_677efb5139a88190b512bc3fef8e535d',
   * );
   * ```
   */
  cancel(responseID: string, options?: RequestOptions): APIPromise<Response> {
    return this._client.post(path`/responses/${responseID}/cancel`, options);
  }

  /**
   * Compact a conversation. Returns a compacted response object.
   *
   * Learn when and how to compact long-running conversations in the
   * [conversation state guide](/docs/guides/conversation-state#managing-the-context-window).
   * For ZDR-compatible compaction details, see
   * [Compaction (advanced)](/docs/guides/conversation-state#compaction-advanced).
   *
   * @example
   * ```ts
   * const response = await client.responses.compact({
   *   model: 'gpt-5.2',
   * });
   * ```
   */
  compact(body: ResponseCompactParams, options?: RequestOptions): APIPromise<ResponseCompactResponse> {
    return this._client.post('/responses/compact', { body, ...options });
  }

  /**
   * Returns input token counts of the request.
   *
   * Returns an object with `object` set to `response.input_tokens` and an
   * `input_tokens` count.
   *
   * @example
   * ```ts
   * const response = await client.responses.getInputTokens();
   * ```
   */
  getInputTokens(
    body: ResponseGetInputTokensParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<ResponseGetInputTokensResponse> {
    return this._client.post('/responses/input_tokens', { body, ...options });
  }

  /**
   * Returns a list of input items for a given response.
   *
   * @example
   * ```ts
   * const response = await client.responses.listInputItems(
   *   'response_id',
   * );
   * ```
   */
  listInputItems(
    responseID: string,
    query: ResponseListInputItemsParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<ResponseListInputItemsResponse> {
    return this._client.get(path`/responses/${responseID}/input_items`, { query, ...options });
  }
}

/**
 * A compaction item generated by the
 * [`v1/responses/compact` API](/docs/api-reference/responses/compact).
 */
export interface CompactionBody {
  /**
   * The unique ID of the compaction item.
   */
  id: string;

  /**
   * The encrypted content that was produced by compaction.
   */
  encrypted_content: string;

  /**
   * The type of the item. Always `compaction`.
   */
  type: 'compaction';

  /**
   * The identifier of the actor that created the item.
   */
  created_by?: string;
}

export type ContainerMemoryLimit = '1g' | '4g' | '16g' | '64g';

/**
 * The conversation that this response belongs to. Items from this conversation are
 * prepended to `input_items` for this response request. Input items and output
 * items from this response are automatically added to this conversation after this
 * response completes.
 */
export type ConversationParam = string | ConversationParam.ConversationParam2;

export namespace ConversationParam {
  /**
   * The conversation that this response belongs to.
   */
  export interface ConversationParam2 {
    /**
     * The unique ID of the conversation.
     */
    id: string;
  }
}

export type ModelIDs =
  | (string & {})
  | 'gpt-5.2'
  | 'gpt-5.2-2025-12-11'
  | 'gpt-5.2-chat-latest'
  | 'gpt-5.2-pro'
  | 'gpt-5.2-pro-2025-12-11'
  | 'gpt-5.1'
  | 'gpt-5.1-2025-11-13'
  | 'gpt-5.1-codex'
  | 'gpt-5.1-mini'
  | 'gpt-5.1-chat-latest'
  | 'gpt-5'
  | 'gpt-5-mini'
  | 'gpt-5-nano'
  | 'gpt-5-2025-08-07'
  | 'gpt-5-mini-2025-08-07'
  | 'gpt-5-nano-2025-08-07'
  | 'gpt-5-chat-latest'
  | 'gpt-4.1'
  | 'gpt-4.1-mini'
  | 'gpt-4.1-nano'
  | 'gpt-4.1-2025-04-14'
  | 'gpt-4.1-mini-2025-04-14'
  | 'gpt-4.1-nano-2025-04-14'
  | 'o4-mini'
  | 'o4-mini-2025-04-16'
  | 'o3'
  | 'o3-2025-04-16'
  | 'o3-mini'
  | 'o3-mini-2025-01-31'
  | 'o1'
  | 'o1-2024-12-17'
  | 'o1-preview'
  | 'o1-preview-2024-09-12'
  | 'o1-mini'
  | 'o1-mini-2024-09-12'
  | 'gpt-4o'
  | 'gpt-4o-2024-11-20'
  | 'gpt-4o-2024-08-06'
  | 'gpt-4o-2024-05-13'
  | 'gpt-4o-audio-preview'
  | 'gpt-4o-audio-preview-2024-10-01'
  | 'gpt-4o-audio-preview-2024-12-17'
  | 'gpt-4o-audio-preview-2025-06-03'
  | 'gpt-4o-mini-audio-preview'
  | 'gpt-4o-mini-audio-preview-2024-12-17'
  | 'gpt-4o-search-preview'
  | 'gpt-4o-mini-search-preview'
  | 'gpt-4o-search-preview-2025-03-11'
  | 'gpt-4o-mini-search-preview-2025-03-11'
  | 'chatgpt-4o-latest'
  | 'codex-mini-latest'
  | 'gpt-4o-mini'
  | 'gpt-4o-mini-2024-07-18'
  | 'gpt-4-turbo'
  | 'gpt-4-turbo-2024-04-09'
  | 'gpt-4-0125-preview'
  | 'gpt-4-turbo-preview'
  | 'gpt-4-1106-preview'
  | 'gpt-4-vision-preview'
  | 'gpt-4'
  | 'gpt-4-0314'
  | 'gpt-4-0613'
  | 'gpt-4-32k'
  | 'gpt-4-32k-0314'
  | 'gpt-4-32k-0613'
  | 'gpt-3.5-turbo'
  | 'gpt-3.5-turbo-16k'
  | 'gpt-3.5-turbo-0301'
  | 'gpt-3.5-turbo-0613'
  | 'gpt-3.5-turbo-1106'
  | 'gpt-3.5-turbo-0125'
  | 'gpt-3.5-turbo-16k-0613'
  | 'o1-pro'
  | 'o1-pro-2025-03-19'
  | 'o3-pro'
  | 'o3-pro-2025-06-10'
  | 'o3-deep-research'
  | 'o3-deep-research-2025-06-26'
  | 'o4-mini-deep-research'
  | 'o4-mini-deep-research-2025-06-26'
  | 'computer-use-preview'
  | 'computer-use-preview-2025-03-11'
  | 'gpt-5-codex'
  | 'gpt-5-pro'
  | 'gpt-5-pro-2025-10-06'
  | 'gpt-5.1-codex-max';

export interface ModelResponsePropertiesStandard {
  /**
   * Set of 16 key-value pairs that can be attached to an object. This can be useful
   * for storing additional information about the object in a structured format, and
   * querying for objects via API or the dashboard.
   *
   * Keys are strings with a maximum length of 64 characters. Values are strings with
   * a maximum length of 512 characters.
   */
  metadata?: CompletionsAPI.Metadata | null;

  /**
   * Used by OpenAI to cache responses for similar requests to optimize your cache
   * hit rates. Replaces the `user` field. [Learn more](/docs/guides/prompt-caching).
   */
  prompt_cache_key?: string;

  /**
   * The retention policy for the prompt cache. Set to `24h` to enable extended
   * prompt caching, which keeps cached prefixes active for longer, up to a maximum
   * of 24 hours. [Learn more](/docs/guides/prompt-caching#prompt-cache-retention).
   */
  prompt_cache_retention?: 'in-memory' | '24h' | null;

  /**
   * A stable identifier used to help detect users of your application that may be
   * violating OpenAI's usage policies. The IDs should be a string that uniquely
   * identifies each user, with a maximum length of 64 characters. We recommend
   * hashing their username or email address, in order to avoid sending us any
   * identifying information.
   * [Learn more](/docs/guides/safety-best-practices#safety-identifiers).
   */
  safety_identifier?: string;

  /**
   * Specifies the processing type used for serving the request.
   *
   * - If set to 'auto', then the request will be processed with the service tier
   *   configured in the Project settings. Unless otherwise configured, the Project
   *   will use 'default'.
   * - If set to 'default', then the request will be processed with the standard
   *   pricing and performance for the selected model.
   * - If set to '[flex](/docs/guides/flex-processing)' or
   *   '[priority](https://openai.com/api-priority-processing/)', then the request
   *   will be processed with the corresponding service tier.
   * - When not set, the default behavior is 'auto'.
   *
   * When the `service_tier` parameter is set, the response body will include the
   * `service_tier` value based on the processing mode actually used to serve the
   * request. This response value may be different from the value set in the
   * parameter.
   */
  service_tier?: CompletionsAPI.ServiceTier | null;

  /**
   * What sampling temperature to use, between 0 and 2. Higher values like 0.8 will
   * make the output more random, while lower values like 0.2 will make it more
   * focused and deterministic. We generally recommend altering this or `top_p` but
   * not both.
   */
  temperature?: number | null;

  /**
   * An integer between 0 and 20 specifying the number of most likely tokens to
   * return at each token position, each with an associated log probability.
   */
  top_logprobs?: number | null;

  /**
   * An alternative to sampling with temperature, called nucleus sampling, where the
   * model considers the results of the tokens with top_p probability mass. So 0.1
   * means only the tokens comprising the top 10% probability mass are considered.
   *
   * We generally recommend altering this or `temperature` but not both.
   */
  top_p?: number | null;

  /**
   * @deprecated This field is being replaced by `safety_identifier` and
   * `prompt_cache_key`. Use `prompt_cache_key` instead to maintain caching
   * optimizations. A stable identifier for your end-users. Used to boost cache hit
   * rates by better bucketing similar requests and to help OpenAI detect and prevent
   * abuse. [Learn more](/docs/guides/safety-best-practices#safety-identifiers).
   */
  user?: string;
}

/**
 * **gpt-5 and o-series models only**
 *
 * Configuration options for
 * [reasoning models](https://platform.openai.com/docs/guides/reasoning).
 */
export interface Reasoning {
  /**
   * Constrains effort on reasoning for
   * [reasoning models](https://platform.openai.com/docs/guides/reasoning). Currently
   * supported values are `none`, `minimal`, `low`, `medium`, `high`, and `xhigh`.
   * Reducing reasoning effort can result in faster responses and fewer tokens used
   * on reasoning in a response.
   *
   * - `gpt-5.1` defaults to `none`, which does not perform reasoning. The supported
   *   reasoning values for `gpt-5.1` are `none`, `low`, `medium`, and `high`. Tool
   *   calls are supported for all reasoning values in gpt-5.1.
   * - All models before `gpt-5.1` default to `medium` reasoning effort, and do not
   *   support `none`.
   * - The `gpt-5-pro` model defaults to (and only supports) `high` reasoning effort.
   * - `xhigh` is supported for all models after `gpt-5.1-codex-max`.
   */
  effort?: AssistantsAPI.ReasoningEffort | null;

  /**
   * @deprecated **Deprecated:** use `summary` instead.
   *
   * A summary of the reasoning performed by the model. This can be useful for
   * debugging and understanding the model's reasoning process. One of `auto`,
   * `concise`, or `detailed`.
   */
  generate_summary?: 'auto' | 'concise' | 'detailed' | null;

  /**
   * A summary of the reasoning performed by the model. This can be useful for
   * debugging and understanding the model's reasoning process. One of `auto`,
   * `concise`, or `detailed`.
   *
   * `concise` is supported for `computer-use-preview` models and all reasoning
   * models after `gpt-5`.
   */
  summary?: 'auto' | 'concise' | 'detailed' | null;
}

export interface Response extends ModelResponsePropertiesStandard, ResponseProperties {
  /**
   * Unique identifier for this Response.
   */
  id: string;

  /**
   * Unix timestamp (in seconds) of when this Response was created.
   */
  created_at: number;

  /**
   * An error object returned when the model fails to generate a Response.
   */
  error: Response.Error | null;

  /**
   * Details about why the response is incomplete.
   */
  incomplete_details: Response.IncompleteDetails | null;

  /**
   * A system (or developer) message inserted into the model's context.
   *
   * When using along with `previous_response_id`, the instructions from a previous
   * response will not be carried over to the next response. This makes it simple to
   * swap out system (or developer) messages in new responses.
   */
  instructions: string | Array<ItemsAPI.InputItem> | null;

  /**
   * The object type of this resource - always set to `response`.
   */
  object: 'response';

  /**
   * An array of content items generated by the model.
   *
   * - The length and order of items in the `output` array is dependent on the
   *   model's response.
   * - Rather than accessing the first item in the `output` array and assuming it's
   *   an `assistant` message with the content generated by the model, you might
   *   consider using the `output_text` property where supported in SDKs.
   */
  output: Array<
    | ItemsAPI.OutputMessage
    | ItemsAPI.FileSearchToolCall
    | ItemsAPI.FunctionToolCall
    | ItemsAPI.WebSearchToolCall
    | ItemsAPI.ComputerToolCall
    | ItemsAPI.ReasoningItem
    | CompactionBody
    | ItemsAPI.ImageGenToolCall
    | ItemsAPI.CodeInterpreterToolCall
    | ItemsAPI.LocalShellToolCall
    | ItemsAPI.FunctionShellCall
    | ItemsAPI.FunctionShellCallOutput
    | ItemsAPI.ApplyPatchToolCall
    | ItemsAPI.ApplyPatchToolCallOutput
    | ItemsAPI.McpToolCall
    | ItemsAPI.McpListTools
    | ItemsAPI.McpApprovalRequest
    | ItemsAPI.CustomToolCall
  >;

  /**
   * Whether to allow the model to run tool calls in parallel.
   */
  parallel_tool_calls: boolean;

  /**
   * Unix timestamp (in seconds) of when this Response was completed. Only present
   * when the status is `completed`.
   */
  completed_at?: number | null;

  /**
   * The conversation that this response belonged to. Input items and output items
   * from this response were automatically added to this conversation.
   */
  conversation?: Response.Conversation | null;

  /**
   * SDK-only convenience property that contains the aggregated text output from all
   * `output_text` items in the `output` array, if any are present. Supported in the
   * Python and JavaScript SDKs.
   */
  output_text?: string | null;

  /**
   * The status of the response generation. One of `completed`, `failed`,
   * `in_progress`, `cancelled`, `queued`, or `incomplete`.
   */
  status?: 'completed' | 'failed' | 'in_progress' | 'cancelled' | 'queued' | 'incomplete';

  /**
   * Represents token usage details including input tokens, output tokens, a
   * breakdown of output tokens, and the total tokens used.
   */
  usage?: ResponseUsage;
}

export namespace Response {
  /**
   * An error object returned when the model fails to generate a Response.
   */
  export interface Error {
    /**
     * The error code for the response.
     */
    code:
      | 'server_error'
      | 'rate_limit_exceeded'
      | 'invalid_prompt'
      | 'vector_store_timeout'
      | 'invalid_image'
      | 'invalid_image_format'
      | 'invalid_base64_image'
      | 'invalid_image_url'
      | 'image_too_large'
      | 'image_too_small'
      | 'image_parse_error'
      | 'image_content_policy_violation'
      | 'invalid_image_mode'
      | 'image_file_too_large'
      | 'unsupported_image_media_type'
      | 'empty_image_file'
      | 'failed_to_download_image'
      | 'image_file_not_found';

    /**
     * A human-readable description of the error.
     */
    message: string;
  }

  /**
   * Details about why the response is incomplete.
   */
  export interface IncompleteDetails {
    /**
     * The reason why the response is incomplete.
     */
    reason?: 'max_output_tokens' | 'content_filter';
  }

  /**
   * The conversation that this response belonged to. Input items and output items
   * from this response were automatically added to this conversation.
   */
  export interface Conversation {
    /**
     * The unique ID of the conversation that this response was associated with.
     */
    id: string;
  }
}

export interface ResponseProperties {
  /**
   * Whether to run the model response in the background.
   * [Learn more](/docs/guides/background).
   */
  background?: boolean | null;

  /**
   * An upper bound for the number of tokens that can be generated for a response,
   * including visible output tokens and [reasoning tokens](/docs/guides/reasoning).
   */
  max_output_tokens?: number | null;

  /**
   * The maximum number of total calls to built-in tools that can be processed in a
   * response. This maximum number applies across all built-in tool calls, not per
   * individual tool. Any further attempts to call a tool by the model will be
   * ignored.
   */
  max_tool_calls?: number | null;

  /**
   * Model ID used to generate the response, like `gpt-4o` or `o3`. OpenAI offers a
   * wide range of models with different capabilities, performance characteristics,
   * and price points. Refer to the [model guide](/docs/models) to browse and compare
   * available models.
   */
  model?: ModelIDs;

  /**
   * The unique ID of the previous response to the model. Use this to create
   * multi-turn conversations. Learn more about
   * [conversation state](/docs/guides/conversation-state). Cannot be used in
   * conjunction with `conversation`.
   */
  previous_response_id?: string | null;

  /**
   * Reference to a prompt template and its variables.
   * [Learn more](/docs/guides/text?api-mode=responses#reusable-prompts).
   */
  prompt?: CallsAPI.Prompt | null;

  /**
   * **gpt-5 and o-series models only**
   *
   * Configuration options for
   * [reasoning models](https://platform.openai.com/docs/guides/reasoning).
   */
  reasoning?: Reasoning | null;

  /**
   * Configuration options for a text response from the model. Can be plain text or
   * structured JSON data. Learn more:
   *
   * - [Text inputs and outputs](/docs/guides/text)
   * - [Structured Outputs](/docs/guides/structured-outputs)
   */
  text?: ResponseTextParam;

  /**
   * How the model should select which tool (or tools) to use when generating a
   * response. See the `tools` parameter to see how to specify which tools the model
   * can call.
   */
  tool_choice?: ToolChoiceParam;

  /**
   * An array of tools the model may call while generating a response. You can
   * specify which tool to use by setting the `tool_choice` parameter.
   *
   * We support the following categories of tools:
   *
   * - **Built-in tools**: Tools that are provided by OpenAI that extend the model's
   *   capabilities, like [web search](/docs/guides/tools-web-search) or
   *   [file search](/docs/guides/tools-file-search). Learn more about
   *   [built-in tools](/docs/guides/tools).
   * - **MCP Tools**: Integrations with third-party systems via custom MCP servers or
   *   predefined connectors such as Google Drive and SharePoint. Learn more about
   *   [MCP Tools](/docs/guides/tools-connectors-mcp).
   * - **Function calls (custom tools)**: Functions that are defined by you, enabling
   *   the model to call your own code with strongly typed arguments and outputs.
   *   Learn more about [function calling](/docs/guides/function-calling). You can
   *   also use custom tools to call your own code.
   */
  tools?: Array<ResponseTool>;

  /**
   * The truncation strategy to use for the model response.
   *
   * - `auto`: If the input to this Response exceeds the model's context window size,
   *   the model will truncate the response to fit the context window by dropping
   *   items from the beginning of the conversation.
   * - `disabled` (default): If the input size will exceed the context window size
   *   for a model, the request will fail with a 400 error.
   */
  truncation?: 'auto' | 'disabled' | null;
}

/**
 * Configuration options for a text response from the model. Can be plain text or
 * structured JSON data. Learn more:
 *
 * - [Text inputs and outputs](/docs/guides/text)
 * - [Structured Outputs](/docs/guides/structured-outputs)
 */
export interface ResponseTextParam {
  /**
   * An object specifying the format that the model must output.
   *
   * Configuring `{ "type": "json_schema" }` enables Structured Outputs, which
   * ensures the model will match your supplied JSON schema. Learn more in the
   * [Structured Outputs guide](/docs/guides/structured-outputs).
   *
   * The default format is `{ "type": "text" }` with no additional options.
   *
   * **Not recommended for gpt-4o and newer models:**
   *
   * Setting to `{ "type": "json_object" }` enables the older JSON mode, which
   * ensures the message the model generates is valid JSON. Using `json_schema` is
   * preferred for models that support it.
   */
  format?: TextResponseFormatConfiguration;

  /**
   * Constrains the verbosity of the model's response. Lower values will result in
   * more concise responses, while higher values will result in more verbose
   * responses. Currently supported values are `low`, `medium`, and `high`.
   */
  verbosity?: CompletionsAPI.Verbosity | null;
}

/**
 * A tool that can be used to generate a response.
 */
export type ResponseTool =
  | ResponseTool.Function
  | ResponseTool.FileSearch
  | ResponseTool.ComputerUsePreview
  | ResponseTool.WebSearchTool
  | CallsAPI.McpTool
  | ResponseTool.CodeInterpreter
  | ResponseTool.ImageGeneration
  | ResponseTool.LocalShell
  | ResponseTool.Shell
  | ResponseTool.Custom
  | ResponseTool.WebSearchPreviewTool
  | ResponseTool.ApplyPatch;

export namespace ResponseTool {
  /**
   * Defines a function in your own code the model can choose to call. Learn more
   * about
   * [function calling](https://platform.openai.com/docs/guides/function-calling).
   */
  export interface Function {
    /**
     * The name of the function to call.
     */
    name: string;

    /**
     * A JSON schema object describing the parameters of the function.
     */
    parameters: { [key: string]: unknown } | null;

    /**
     * Whether to enforce strict parameter validation. Default `true`.
     */
    strict: boolean | null;

    /**
     * The type of the function tool. Always `function`.
     */
    type: 'function';

    /**
     * A description of the function. Used by the model to determine whether or not to
     * call the function.
     */
    description?: string | null;
  }

  /**
   * A tool that searches for relevant content from uploaded files. Learn more about
   * the
   * [file search tool](https://platform.openai.com/docs/guides/tools-file-search).
   */
  export interface FileSearch {
    /**
     * The type of the file search tool. Always `file_search`.
     */
    type: 'file_search';

    /**
     * The IDs of the vector stores to search.
     */
    vector_store_ids: Array<string>;

    /**
     * A filter to apply.
     */
    filters?: VectorStoresAPI.ComparisonFilter | VectorStoresAPI.CompoundFilter | null;

    /**
     * The maximum number of results to return. This number should be between 1 and 50
     * inclusive.
     */
    max_num_results?: number;

    /**
     * Ranking options for search.
     */
    ranking_options?: FileSearch.RankingOptions;
  }

  export namespace FileSearch {
    /**
     * Ranking options for search.
     */
    export interface RankingOptions {
      /**
       * Weights that control how reciprocal rank fusion balances semantic embedding
       * matches versus sparse keyword matches when hybrid search is enabled.
       */
      hybrid_search?: RankingOptions.HybridSearch;

      /**
       * The ranker to use for the file search.
       */
      ranker?: 'auto' | 'default-2024-11-15';

      /**
       * The score threshold for the file search, a number between 0 and 1. Numbers
       * closer to 1 will attempt to return only the most relevant results, but may
       * return fewer results.
       */
      score_threshold?: number;
    }

    export namespace RankingOptions {
      /**
       * Weights that control how reciprocal rank fusion balances semantic embedding
       * matches versus sparse keyword matches when hybrid search is enabled.
       */
      export interface HybridSearch {
        /**
         * The weight of the embedding in the reciprocal ranking fusion.
         */
        embedding_weight: number;

        /**
         * The weight of the text in the reciprocal ranking fusion.
         */
        text_weight: number;
      }
    }
  }

  /**
   * A tool that controls a virtual computer. Learn more about the
   * [computer tool](https://platform.openai.com/docs/guides/tools-computer-use).
   */
  export interface ComputerUsePreview {
    /**
     * The height of the computer display.
     */
    display_height: number;

    /**
     * The width of the computer display.
     */
    display_width: number;

    /**
     * The type of computer environment to control.
     */
    environment: 'windows' | 'mac' | 'linux' | 'ubuntu' | 'browser';

    /**
     * The type of the computer use tool. Always `computer_use_preview`.
     */
    type: 'computer_use_preview';
  }

  /**
   * Search the Internet for sources related to the prompt. Learn more about the
   * [web search tool](/docs/guides/tools-web-search).
   */
  export interface WebSearchTool {
    /**
     * The type of the web search tool. One of `web_search` or `web_search_2025_08_26`.
     */
    type: 'web_search' | 'web_search_2025_08_26';

    /**
     * Filters for the search.
     */
    filters?: WebSearchTool.Filters | null;

    /**
     * High level guidance for the amount of context window space to use for the
     * search. One of `low`, `medium`, or `high`. `medium` is the default.
     */
    search_context_size?: 'low' | 'medium' | 'high';

    /**
     * The approximate location of the user.
     */
    user_location?: WebSearchTool.UserLocation | null;
  }

  export namespace WebSearchTool {
    /**
     * Filters for the search.
     */
    export interface Filters {
      /**
       * Allowed domains for the search. If not provided, all domains are allowed.
       * Subdomains of the provided domains are allowed as well.
       *
       * Example: `["pubmed.ncbi.nlm.nih.gov"]`
       */
      allowed_domains?: Array<string> | null;
    }

    /**
     * The approximate location of the user.
     */
    export interface UserLocation {
      /**
       * Free text input for the city of the user, e.g. `San Francisco`.
       */
      city?: string | null;

      /**
       * The two-letter [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1) of
       * the user, e.g. `US`.
       */
      country?: string | null;

      /**
       * Free text input for the region of the user, e.g. `California`.
       */
      region?: string | null;

      /**
       * The [IANA timezone](https://timeapi.io/documentation/iana-timezones) of the
       * user, e.g. `America/Los_Angeles`.
       */
      timezone?: string | null;

      /**
       * The type of location approximation. Always `approximate`.
       */
      type?: 'approximate';
    }
  }

  /**
   * A tool that runs Python code to help generate a response to a prompt.
   */
  export interface CodeInterpreter {
    /**
     * The code interpreter container. Can be a container ID or an object that
     * specifies uploaded file IDs to make available to your code, along with an
     * optional `memory_limit` setting.
     */
    container: string | CodeInterpreter.AutoCodeInterpreterToolParam;

    /**
     * The type of the code interpreter tool. Always `code_interpreter`.
     */
    type: 'code_interpreter';
  }

  export namespace CodeInterpreter {
    /**
     * Configuration for a code interpreter container. Optionally specify the IDs of
     * the files to run the code on.
     */
    export interface AutoCodeInterpreterToolParam {
      /**
       * Always `auto`.
       */
      type: 'auto';

      /**
       * An optional list of uploaded files to make available to your code.
       */
      file_ids?: Array<string>;

      /**
       * The memory limit for the code interpreter container.
       */
      memory_limit?: ResponsesAPI.ContainerMemoryLimit | null;

      /**
       * Network access policy for the container.
       */
      network_policy?: ContainersAPI.NetworkPolicyDisabledParam | ContainersAPI.NetworkPolicyAllowlistParam;
    }
  }

  /**
   * A tool that generates images using the GPT image models.
   */
  export interface ImageGeneration {
    /**
     * The type of the image generation tool. Always `image_generation`.
     */
    type: 'image_generation';

    /**
     * Whether to generate a new image or edit an existing image. Default: `auto`.
     */
    action?: 'generate' | 'edit' | 'auto';

    /**
     * Background type for the generated image. One of `transparent`, `opaque`, or
     * `auto`. Default: `auto`.
     */
    background?: 'transparent' | 'opaque' | 'auto';

    /**
     * Control how much effort the model will exert to match the style and features,
     * especially facial features, of input images. This parameter is only supported
     * for `gpt-image-1` and `gpt-image-1.5` and later models, unsupported for
     * `gpt-image-1-mini`. Supports `high` and `low`. Defaults to `low`.
     */
    input_fidelity?: 'high' | 'low' | null;

    /**
     * Optional mask for inpainting. Contains `image_url` (string, optional) and
     * `file_id` (string, optional).
     */
    input_image_mask?: ImageGeneration.InputImageMask;

    /**
     * The image generation model to use. Default: `gpt-image-1`.
     */
    model?: (string & {}) | 'gpt-image-1' | 'gpt-image-1-mini' | 'gpt-image-1.5';

    /**
     * Moderation level for the generated image. Default: `auto`.
     */
    moderation?: 'auto' | 'low';

    /**
     * Compression level for the output image. Default: 100.
     */
    output_compression?: number;

    /**
     * The output format of the generated image. One of `png`, `webp`, or `jpeg`.
     * Default: `png`.
     */
    output_format?: 'png' | 'webp' | 'jpeg';

    /**
     * Number of partial images to generate in streaming mode, from 0 (default value)
     * to 3.
     */
    partial_images?: number;

    /**
     * The quality of the generated image. One of `low`, `medium`, `high`, or `auto`.
     * Default: `auto`.
     */
    quality?: 'low' | 'medium' | 'high' | 'auto';

    /**
     * The size of the generated image. One of `1024x1024`, `1024x1536`, `1536x1024`,
     * or `auto`. Default: `auto`.
     */
    size?: '1024x1024' | '1024x1536' | '1536x1024' | 'auto';
  }

  export namespace ImageGeneration {
    /**
     * Optional mask for inpainting. Contains `image_url` (string, optional) and
     * `file_id` (string, optional).
     */
    export interface InputImageMask {
      /**
       * File ID for the mask image.
       */
      file_id?: string;

      /**
       * Base64-encoded mask image.
       */
      image_url?: string;
    }
  }

  /**
   * A tool that allows the model to execute shell commands in a local environment.
   */
  export interface LocalShell {
    /**
     * The type of the local shell tool. Always `local_shell`.
     */
    type: 'local_shell';
  }

  /**
   * A tool that allows the model to execute shell commands.
   */
  export interface Shell {
    /**
     * The type of the shell tool. Always `shell`.
     */
    type: 'shell';

    environment?:
      | Shell.ContainerAuto
      | ItemsAPI.LocalEnvironmentParam
      | ItemsAPI.ContainerReferenceParam
      | null;
  }

  export namespace Shell {
    export interface ContainerAuto {
      /**
       * Automatically creates a container for this request
       */
      type: 'container_auto';

      /**
       * An optional list of uploaded files to make available to your code.
       */
      file_ids?: Array<string>;

      /**
       * The memory limit for the container.
       */
      memory_limit?: ResponsesAPI.ContainerMemoryLimit | null;

      /**
       * Network access policy for the container.
       */
      network_policy?: ContainersAPI.NetworkPolicyDisabledParam | ContainersAPI.NetworkPolicyAllowlistParam;

      /**
       * An optional list of skills referenced by id or inline data.
       */
      skills?: Array<ContainersAPI.SkillReferenceParam | ContainersAPI.InlineSkillParam>;
    }
  }

  /**
   * A custom tool that processes input using a specified format. Learn more about
   * [custom tools](/docs/guides/function-calling#custom-tools)
   */
  export interface Custom {
    /**
     * The name of the custom tool, used to identify it in tool calls.
     */
    name: string;

    /**
     * The type of the custom tool. Always `custom`.
     */
    type: 'custom';

    /**
     * Optional description of the custom tool, used to provide more context.
     */
    description?: string;

    /**
     * The input format for the custom tool. Default is unconstrained text.
     */
    format?: Custom.Text | Custom.Grammar;
  }

  export namespace Custom {
    /**
     * Unconstrained free-form text.
     */
    export interface Text {
      /**
       * Unconstrained text format. Always `text`.
       */
      type: 'text';
    }

    /**
     * A grammar defined by the user.
     */
    export interface Grammar {
      /**
       * The grammar definition.
       */
      definition: string;

      /**
       * The syntax of the grammar definition. One of `lark` or `regex`.
       */
      syntax: 'lark' | 'regex';

      /**
       * Grammar format. Always `grammar`.
       */
      type: 'grammar';
    }
  }

  /**
   * This tool searches the web for relevant results to use in a response. Learn more
   * about the
   * [web search tool](https://platform.openai.com/docs/guides/tools-web-search).
   */
  export interface WebSearchPreviewTool {
    /**
     * The type of the web search tool. One of `web_search_preview` or
     * `web_search_preview_2025_03_11`.
     */
    type: 'web_search_preview' | 'web_search_preview_2025_03_11';

    /**
     * High level guidance for the amount of context window space to use for the
     * search. One of `low`, `medium`, or `high`. `medium` is the default.
     */
    search_context_size?: 'low' | 'medium' | 'high';

    /**
     * The user's location.
     */
    user_location?: WebSearchPreviewTool.UserLocation | null;
  }

  export namespace WebSearchPreviewTool {
    /**
     * The user's location.
     */
    export interface UserLocation {
      /**
       * The type of location approximation. Always `approximate`.
       */
      type: 'approximate';

      /**
       * Free text input for the city of the user, e.g. `San Francisco`.
       */
      city?: string | null;

      /**
       * The two-letter [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1) of
       * the user, e.g. `US`.
       */
      country?: string | null;

      /**
       * Free text input for the region of the user, e.g. `California`.
       */
      region?: string | null;

      /**
       * The [IANA timezone](https://timeapi.io/documentation/iana-timezones) of the
       * user, e.g. `America/Los_Angeles`.
       */
      timezone?: string | null;
    }
  }

  /**
   * Allows the assistant to create, delete, or update files using unified diffs.
   */
  export interface ApplyPatch {
    /**
     * The type of the tool. Always `apply_patch`.
     */
    type: 'apply_patch';
  }
}

/**
 * Represents token usage details including input tokens, output tokens, a
 * breakdown of output tokens, and the total tokens used.
 */
export interface ResponseUsage {
  /**
   * The number of input tokens.
   */
  input_tokens: number;

  /**
   * A detailed breakdown of the input tokens.
   */
  input_tokens_details: ResponseUsage.InputTokensDetails;

  /**
   * The number of output tokens.
   */
  output_tokens: number;

  /**
   * A detailed breakdown of the output tokens.
   */
  output_tokens_details: ResponseUsage.OutputTokensDetails;

  /**
   * The total number of tokens used.
   */
  total_tokens: number;
}

export namespace ResponseUsage {
  /**
   * A detailed breakdown of the input tokens.
   */
  export interface InputTokensDetails {
    /**
     * The number of tokens that were retrieved from the cache.
     * [More on prompt caching](/docs/guides/prompt-caching).
     */
    cached_tokens: number;
  }

  /**
   * A detailed breakdown of the output tokens.
   */
  export interface OutputTokensDetails {
    /**
     * The number of reasoning tokens.
     */
    reasoning_tokens: number;
  }
}

/**
 * An object specifying the format that the model must output.
 *
 * Configuring `{ "type": "json_schema" }` enables Structured Outputs, which
 * ensures the model will match your supplied JSON schema. Learn more in the
 * [Structured Outputs guide](/docs/guides/structured-outputs).
 *
 * The default format is `{ "type": "text" }` with no additional options.
 *
 * **Not recommended for gpt-4o and newer models:**
 *
 * Setting to `{ "type": "json_object" }` enables the older JSON mode, which
 * ensures the message the model generates is valid JSON. Using `json_schema` is
 * preferred for models that support it.
 */
export type TextResponseFormatConfiguration =
  | CompletionsAPI.TextFormat
  | TextResponseFormatConfiguration.TextResponseFormatJsonSchema
  | CompletionsAPI.JsonObjectFormat;

export namespace TextResponseFormatConfiguration {
  /**
   * JSON Schema response format. Used to generate structured JSON responses. Learn
   * more about [Structured Outputs](/docs/guides/structured-outputs).
   */
  export interface TextResponseFormatJsonSchema {
    /**
     * The name of the response format. Must be a-z, A-Z, 0-9, or contain underscores
     * and dashes, with a maximum length of 64.
     */
    name: string;

    /**
     * The schema for the response format, described as a JSON Schema object. Learn how
     * to build JSON schemas [here](https://json-schema.org/).
     */
    schema: { [key: string]: unknown };

    /**
     * The type of response format being defined. Always `json_schema`.
     */
    type: 'json_schema';

    /**
     * A description of what the response format is for, used by the model to determine
     * how to respond in the format.
     */
    description?: string;

    /**
     * Whether to enable strict schema adherence when generating the output. If set to
     * true, the model will always follow the exact schema defined in the `schema`
     * field. Only a subset of JSON Schema is supported when `strict` is `true`. To
     * learn more, read the
     * [Structured Outputs guide](/docs/guides/structured-outputs).
     */
    strict?: boolean | null;
  }
}

/**
 * How the model should select which tool (or tools) to use when generating a
 * response. See the `tools` parameter to see how to specify which tools the model
 * can call.
 */
export type ToolChoiceParam =
  | CallsAPI.ToolChoiceOptions
  | ToolChoiceParam.ToolChoiceAllowed
  | ToolChoiceParam.ToolChoiceTypes
  | CallsAPI.ToolChoiceFunction
  | CallsAPI.ToolChoiceMcp
  | ToolChoiceParam.ToolChoiceCustom
  | ToolChoiceParam.SpecificApplyPatchParam
  | ToolChoiceParam.SpecificFunctionShellParam;

export namespace ToolChoiceParam {
  /**
   * Constrains the tools available to the model to a pre-defined set.
   */
  export interface ToolChoiceAllowed {
    /**
     * Constrains the tools available to the model to a pre-defined set.
     *
     * `auto` allows the model to pick from among the allowed tools and generate a
     * message.
     *
     * `required` requires the model to call one or more of the allowed tools.
     */
    mode: 'auto' | 'required';

    /**
     * A list of tool definitions that the model should be allowed to call.
     *
     * For the Responses API, the list of tool definitions might look like:
     *
     * ```json
     * [
     *   { "type": "function", "name": "get_weather" },
     *   { "type": "mcp", "server_label": "deepwiki" },
     *   { "type": "image_generation" }
     * ]
     * ```
     */
    tools: Array<{ [key: string]: unknown }>;

    /**
     * Allowed tool configuration type. Always `allowed_tools`.
     */
    type: 'allowed_tools';
  }

  /**
   * Indicates that the model should use a built-in tool to generate a response.
   * [Learn more about built-in tools](/docs/guides/tools).
   */
  export interface ToolChoiceTypes {
    /**
     * The type of hosted tool the model should to use. Learn more about
     * [built-in tools](/docs/guides/tools).
     *
     * Allowed values are:
     *
     * - `file_search`
     * - `web_search_preview`
     * - `computer_use_preview`
     * - `code_interpreter`
     * - `image_generation`
     */
    type:
      | 'file_search'
      | 'web_search_preview'
      | 'computer_use_preview'
      | 'web_search_preview_2025_03_11'
      | 'image_generation'
      | 'code_interpreter';
  }

  /**
   * Use this option to force the model to call a specific custom tool.
   */
  export interface ToolChoiceCustom {
    /**
     * The name of the custom tool to call.
     */
    name: string;

    /**
     * For custom tool calling, the type is always `custom`.
     */
    type: 'custom';
  }

  /**
   * Forces the model to call the apply_patch tool when executing a tool call.
   */
  export interface SpecificApplyPatchParam {
    /**
     * The tool to call. Always `apply_patch`.
     */
    type: 'apply_patch';
  }

  /**
   * Forces the model to call the shell tool when a tool call is required.
   */
  export interface SpecificFunctionShellParam {
    /**
     * The tool to call. Always `shell`.
     */
    type: 'shell';
  }
}

export interface ResponseCompactResponse {
  /**
   * The unique identifier for the compacted response.
   */
  id: string;

  /**
   * Unix timestamp (in seconds) when the compacted conversation was created.
   */
  created_at: number;

  /**
   * The object type. Always `response.compaction`.
   */
  object: 'response.compaction';

  /**
   * The compacted list of output items.
   */
  output: Array<
    | ItemsAPI.Message
    | ItemsAPI.FunctionToolCall
    | ItemsAPI.FunctionToolCallOutput
    | ItemsAPI.FileSearchToolCall
    | ItemsAPI.WebSearchToolCall
    | ItemsAPI.ImageGenToolCall
    | ItemsAPI.ComputerToolCall
    | ItemsAPI.ComputerToolCallOutputResource
    | ItemsAPI.ReasoningItem
    | CompactionBody
    | ItemsAPI.CodeInterpreterToolCall
    | ItemsAPI.LocalShellToolCall
    | ItemsAPI.LocalShellToolCallOutput
    | ItemsAPI.FunctionShellCall
    | ItemsAPI.FunctionShellCallOutput
    | ItemsAPI.ApplyPatchToolCall
    | ItemsAPI.ApplyPatchToolCallOutput
    | ItemsAPI.McpListTools
    | ItemsAPI.McpApprovalRequest
    | ItemsAPI.McpApprovalResponseResource
    | ItemsAPI.McpToolCall
    | ItemsAPI.CustomToolCall
    | ItemsAPI.CustomToolCallOutput
  >;

  /**
   * Token accounting for the compaction pass, including cached, reasoning, and total
   * tokens.
   */
  usage: ResponseUsage;
}

export interface ResponseGetInputTokensResponse {
  input_tokens: number;

  object: 'response.input_tokens';
}

/**
 * A list of Response items.
 */
export interface ResponseListInputItemsResponse {
  /**
   * A list of items used to generate this response.
   */
  data: Array<
    | ResponseListInputItemsResponse.Message
    | ItemsAPI.OutputMessage
    | ItemsAPI.FileSearchToolCall
    | ItemsAPI.ComputerToolCall
    | ItemsAPI.ComputerToolCallOutputResource
    | ItemsAPI.WebSearchToolCall
    | ItemsAPI.FunctionToolCallResource
    | ItemsAPI.FunctionToolCallOutputResource
    | ItemsAPI.ImageGenToolCall
    | ItemsAPI.CodeInterpreterToolCall
    | ItemsAPI.LocalShellToolCall
    | ItemsAPI.LocalShellToolCallOutput
    | ItemsAPI.FunctionShellCall
    | ItemsAPI.FunctionShellCallOutput
    | ItemsAPI.ApplyPatchToolCall
    | ItemsAPI.ApplyPatchToolCallOutput
    | ItemsAPI.McpListTools
    | ItemsAPI.McpApprovalRequest
    | ItemsAPI.McpApprovalResponseResource
    | ItemsAPI.McpToolCall
  >;

  /**
   * The ID of the first item in the list.
   */
  first_id: string;

  /**
   * Whether there are more items available.
   */
  has_more: boolean;

  /**
   * The ID of the last item in the list.
   */
  last_id: string;

  /**
   * The type of object returned, must be `list`.
   */
  object: 'list';
}

export namespace ResponseListInputItemsResponse {
  /**
   * A message input to the model with a role indicating instruction following
   * hierarchy. Instructions given with the `developer` or `system` role take
   * precedence over instructions given with the `user` role.
   */
  export interface Message extends ItemsAPI.InputMessage {
    /**
     * The unique ID of the message input.
     */
    id: string;
  }
}

export interface ResponseCreateParams {
  body: ResponseCreateParams.Body;
}

export namespace ResponseCreateParams {
  export interface Body
    extends CompletionsAPI.ModelResponsePropertiesCreate,
      ResponsesAPI.ResponseProperties {
    /**
     * Context management configuration for this request.
     */
    context_management?: Array<Body.ContextManagement> | null;

    /**
     * The conversation that this response belongs to. Items from this conversation are
     * prepended to `input_items` for this response request. Input items and output
     * items from this response are automatically added to this conversation after this
     * response completes.
     */
    conversation?: ResponsesAPI.ConversationParam | null;

    /**
     * Specify additional output data to include in the model response. Currently
     * supported values are:
     *
     * - `web_search_call.action.sources`: Include the sources of the web search tool
     *   call.
     * - `code_interpreter_call.outputs`: Includes the outputs of python code execution
     *   in code interpreter tool call items.
     * - `computer_call_output.output.image_url`: Include image urls from the computer
     *   call output.
     * - `file_search_call.results`: Include the search results of the file search tool
     *   call.
     * - `message.input_image.image_url`: Include image urls from the input message.
     * - `message.output_text.logprobs`: Include logprobs with assistant messages.
     * - `reasoning.encrypted_content`: Includes an encrypted version of reasoning
     *   tokens in reasoning item outputs. This enables reasoning items to be used in
     *   multi-turn conversations when using the Responses API statelessly (like when
     *   the `store` parameter is set to `false`, or when an organization is enrolled
     *   in the zero data retention program).
     */
    include?: Array<ItemsAPI.IncludeEnum> | null;

    /**
     * Text, image, or file inputs to the model, used to generate a response.
     *
     * Learn more:
     *
     * - [Text inputs and outputs](/docs/guides/text)
     * - [Image inputs](/docs/guides/images)
     * - [File inputs](/docs/guides/pdf-files)
     * - [Conversation state](/docs/guides/conversation-state)
     * - [Function calling](/docs/guides/function-calling)
     */
    input?: string | Array<ItemsAPI.InputItem>;

    /**
     * A system (or developer) message inserted into the model's context.
     *
     * When using along with `previous_response_id`, the instructions from a previous
     * response will not be carried over to the next response. This makes it simple to
     * swap out system (or developer) messages in new responses.
     */
    instructions?: string | null;

    /**
     * Whether to allow the model to run tool calls in parallel.
     */
    parallel_tool_calls?: boolean | null;

    /**
     * Whether to store the generated model response for later retrieval via API.
     */
    store?: boolean | null;

    /**
     * If set to true, the model response data will be streamed to the client as it is
     * generated using
     * [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format).
     * See the [Streaming section below](/docs/api-reference/responses-streaming) for
     * more information.
     */
    stream?: boolean | null;

    /**
     * Options for streaming responses. Only set this when you set `stream: true`.
     */
    stream_options?: Body.StreamOptions | null;
  }

  export namespace Body {
    export interface ContextManagement {
      /**
       * The context management entry type. Currently only 'compaction' is supported.
       */
      type: string;

      /**
       * Token threshold at which compaction should be triggered for this entry.
       */
      compact_threshold?: number | null;
    }

    /**
     * Options for streaming responses. Only set this when you set `stream: true`.
     */
    export interface StreamOptions {
      /**
       * When true, stream obfuscation will be enabled. Stream obfuscation adds random
       * characters to an `obfuscation` field on streaming delta events to normalize
       * payload sizes as a mitigation to certain side-channel attacks. These obfuscation
       * fields are included by default, but add a small amount of overhead to the data
       * stream. You can set `include_obfuscation` to false to optimize for bandwidth if
       * you trust the network links between your application and the OpenAI API.
       */
      include_obfuscation?: boolean;
    }
  }
}

export interface ResponseRetrieveParams {
  /**
   * Additional fields to include in the response. See the `include` parameter for
   * Response creation above for more information.
   */
  include?: Array<ItemsAPI.IncludeEnum>;

  /**
   * When true, stream obfuscation will be enabled. Stream obfuscation adds random
   * characters to an `obfuscation` field on streaming delta events to normalize
   * payload sizes as a mitigation to certain side-channel attacks. These obfuscation
   * fields are included by default, but add a small amount of overhead to the data
   * stream. You can set `include_obfuscation` to false to optimize for bandwidth if
   * you trust the network links between your application and the OpenAI API.
   */
  include_obfuscation?: boolean;

  /**
   * The sequence number of the event after which to start streaming.
   */
  starting_after?: number;

  /**
   * If set to true, the model response data will be streamed to the client as it is
   * generated using
   * [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#Event_stream_format).
   * See the [Streaming section below](/docs/api-reference/responses-streaming) for
   * more information.
   */
  stream?: boolean;
}

export interface ResponseCompactParams {
  /**
   * Model ID used to generate the response, like `gpt-5` or `o3`. OpenAI offers a
   * wide range of models with different capabilities, performance characteristics,
   * and price points. Refer to the [model guide](/docs/models) to browse and compare
   * available models.
   */
  model:
    | 'gpt-5.2'
    | 'gpt-5.2-2025-12-11'
    | 'gpt-5.2-chat-latest'
    | 'gpt-5.2-pro'
    | 'gpt-5.2-pro-2025-12-11'
    | 'gpt-5.1'
    | 'gpt-5.1-2025-11-13'
    | 'gpt-5.1-codex'
    | 'gpt-5.1-mini'
    | 'gpt-5.1-chat-latest'
    | 'gpt-5'
    | 'gpt-5-mini'
    | 'gpt-5-nano'
    | 'gpt-5-2025-08-07'
    | 'gpt-5-mini-2025-08-07'
    | 'gpt-5-nano-2025-08-07'
    | 'gpt-5-chat-latest'
    | 'gpt-4.1'
    | 'gpt-4.1-mini'
    | 'gpt-4.1-nano'
    | 'gpt-4.1-2025-04-14'
    | 'gpt-4.1-mini-2025-04-14'
    | 'gpt-4.1-nano-2025-04-14'
    | 'o4-mini'
    | 'o4-mini-2025-04-16'
    | 'o3'
    | 'o3-2025-04-16'
    | 'o3-mini'
    | 'o3-mini-2025-01-31'
    | 'o1'
    | 'o1-2024-12-17'
    | 'o1-preview'
    | 'o1-preview-2024-09-12'
    | 'o1-mini'
    | 'o1-mini-2024-09-12'
    | 'gpt-4o'
    | 'gpt-4o-2024-11-20'
    | 'gpt-4o-2024-08-06'
    | 'gpt-4o-2024-05-13'
    | 'gpt-4o-audio-preview'
    | 'gpt-4o-audio-preview-2024-10-01'
    | 'gpt-4o-audio-preview-2024-12-17'
    | 'gpt-4o-audio-preview-2025-06-03'
    | 'gpt-4o-mini-audio-preview'
    | 'gpt-4o-mini-audio-preview-2024-12-17'
    | 'gpt-4o-search-preview'
    | 'gpt-4o-mini-search-preview'
    | 'gpt-4o-search-preview-2025-03-11'
    | 'gpt-4o-mini-search-preview-2025-03-11'
    | 'chatgpt-4o-latest'
    | 'codex-mini-latest'
    | 'gpt-4o-mini'
    | 'gpt-4o-mini-2024-07-18'
    | 'gpt-4-turbo'
    | 'gpt-4-turbo-2024-04-09'
    | 'gpt-4-0125-preview'
    | 'gpt-4-turbo-preview'
    | 'gpt-4-1106-preview'
    | 'gpt-4-vision-preview'
    | 'gpt-4'
    | 'gpt-4-0314'
    | 'gpt-4-0613'
    | 'gpt-4-32k'
    | 'gpt-4-32k-0314'
    | 'gpt-4-32k-0613'
    | 'gpt-3.5-turbo'
    | 'gpt-3.5-turbo-16k'
    | 'gpt-3.5-turbo-0301'
    | 'gpt-3.5-turbo-0613'
    | 'gpt-3.5-turbo-1106'
    | 'gpt-3.5-turbo-0125'
    | 'gpt-3.5-turbo-16k-0613'
    | 'o1-pro'
    | 'o1-pro-2025-03-19'
    | 'o3-pro'
    | 'o3-pro-2025-06-10'
    | 'o3-deep-research'
    | 'o3-deep-research-2025-06-26'
    | 'o4-mini-deep-research'
    | 'o4-mini-deep-research-2025-06-26'
    | 'computer-use-preview'
    | 'computer-use-preview-2025-03-11'
    | 'gpt-5-codex'
    | 'gpt-5-pro'
    | 'gpt-5-pro-2025-10-06'
    | 'gpt-5.1-codex-max'
    | (string & {})
    | null;

  /**
   * Text, image, or file inputs to the model, used to generate a response
   */
  input?: string | Array<ItemsAPI.InputItem> | null;

  /**
   * A system (or developer) message inserted into the model's context. When used
   * along with `previous_response_id`, the instructions from a previous response
   * will not be carried over to the next response. This makes it simple to swap out
   * system (or developer) messages in new responses.
   */
  instructions?: string | null;

  /**
   * The unique ID of the previous response to the model. Use this to create
   * multi-turn conversations. Learn more about
   * [conversation state](/docs/guides/conversation-state). Cannot be used in
   * conjunction with `conversation`.
   */
  previous_response_id?: string | null;
}

export interface ResponseGetInputTokensParams {
  /**
   * The conversation that this response belongs to. Items from this conversation are
   * prepended to `input_items` for this response request. Input items and output
   * items from this response are automatically added to this conversation after this
   * response completes.
   */
  conversation?: ConversationParam | null;

  /**
   * Text, image, or file inputs to the model, used to generate a response
   */
  input?: string | Array<ItemsAPI.InputItem> | null;

  /**
   * A system (or developer) message inserted into the model's context. When used
   * along with `previous_response_id`, the instructions from a previous response
   * will not be carried over to the next response. This makes it simple to swap out
   * system (or developer) messages in new responses.
   */
  instructions?: string | null;

  /**
   * Model ID used to generate the response, like `gpt-4o` or `o3`. OpenAI offers a
   * wide range of models with different capabilities, performance characteristics,
   * and price points. Refer to the [model guide](/docs/models) to browse and compare
   * available models.
   */
  model?: string | null;

  /**
   * Whether to allow the model to run tool calls in parallel.
   */
  parallel_tool_calls?: boolean | null;

  /**
   * The unique ID of the previous response to the model. Use this to create
   * multi-turn conversations. Learn more about
   * [conversation state](/docs/guides/conversation-state). Cannot be used in
   * conjunction with `conversation`.
   */
  previous_response_id?: string | null;

  /**
   * **gpt-5 and o-series models only** Configuration options for
   * [reasoning models](https://platform.openai.com/docs/guides/reasoning).
   */
  reasoning?: Reasoning | null;

  /**
   * Configuration options for a text response from the model. Can be plain text or
   * structured JSON data. Learn more:
   *
   * - [Text inputs and outputs](/docs/guides/text)
   * - [Structured Outputs](/docs/guides/structured-outputs)
   */
  text?: ResponseTextParam | null;

  /**
   * Controls which tool the model should use, if any.
   */
  tool_choice?: ToolChoiceParam | null;

  /**
   * An array of tools the model may call while generating a response. You can
   * specify which tool to use by setting the `tool_choice` parameter.
   */
  tools?: Array<ResponseTool> | null;

  /**
   * The truncation strategy to use for the model response. - `auto`: If the input to
   * this Response exceeds the model's context window size, the model will truncate
   * the response to fit the context window by dropping items from the beginning of
   * the conversation. - `disabled` (default): If the input size will exceed the
   * context window size for a model, the request will fail with a 400 error.
   */
  truncation?: 'auto' | 'disabled';
}

export interface ResponseListInputItemsParams {
  /**
   * An item ID to list items after, used in pagination.
   */
  after?: string;

  /**
   * Additional fields to include in the response. See the `include` parameter for
   * Response creation above for more information.
   */
  include?: Array<ItemsAPI.IncludeEnum>;

  /**
   * A limit on the number of objects to be returned. Limit can range between 1 and
   * 100, and the default is 20.
   */
  limit?: number;

  /**
   * The order to return the input items in. Default is `desc`.
   *
   * - `asc`: Return the input items in ascending order.
   * - `desc`: Return the input items in descending order.
   */
  order?: 'asc' | 'desc';
}

export declare namespace Responses {
  export {
    type CompactionBody as CompactionBody,
    type ContainerMemoryLimit as ContainerMemoryLimit,
    type ConversationParam as ConversationParam,
    type ModelIDs as ModelIDs,
    type ModelResponsePropertiesStandard as ModelResponsePropertiesStandard,
    type Reasoning as Reasoning,
    type Response as Response,
    type ResponseProperties as ResponseProperties,
    type ResponseTextParam as ResponseTextParam,
    type ResponseTool as ResponseTool,
    type ResponseUsage as ResponseUsage,
    type TextResponseFormatConfiguration as TextResponseFormatConfiguration,
    type ToolChoiceParam as ToolChoiceParam,
    type ResponseCompactResponse as ResponseCompactResponse,
    type ResponseGetInputTokensResponse as ResponseGetInputTokensResponse,
    type ResponseListInputItemsResponse as ResponseListInputItemsResponse,
    type ResponseCreateParams as ResponseCreateParams,
    type ResponseRetrieveParams as ResponseRetrieveParams,
    type ResponseCompactParams as ResponseCompactParams,
    type ResponseGetInputTokensParams as ResponseGetInputTokensParams,
    type ResponseListInputItemsParams as ResponseListInputItemsParams,
  };
}
