// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../../core/resource';
import * as AssistantsAPI from '../../assistants';
import * as ItemsAPI from '../../conversations/items';
import * as EvalsAPI from '../../evals/evals';
import { APIPromise } from '../../../core/api-promise';
import { RequestOptions } from '../../../internal/request-options';

export class Graders extends APIResource {
  /**
   * Run a grader.
   *
   * @example
   * ```ts
   * const response = await client.fineTuning.alpha.graders.run({
   *   grader: {
   *     input: 'input',
   *     name: 'name',
   *     operation: 'eq',
   *     reference: 'reference',
   *     type: 'string_check',
   *   },
   *   model_sample: 'model_sample',
   * });
   * ```
   */
  run(body: GraderRunParams, options?: RequestOptions): APIPromise<GraderRunResponse> {
    return this._client.post('/fine_tuning/alpha/graders/run', { body, ...options });
  }

  /**
   * Validate a grader.
   *
   * @example
   * ```ts
   * const response =
   *   await client.fineTuning.alpha.graders.validate({
   *     grader: {
   *       input: 'input',
   *       name: 'name',
   *       operation: 'eq',
   *       reference: 'reference',
   *       type: 'string_check',
   *     },
   *   });
   * ```
   */
  validate(body: GraderValidateParams, options?: RequestOptions): APIPromise<GraderValidateResponse> {
    return this._client.post('/fine_tuning/alpha/graders/validate', { body, ...options });
  }
}

/**
 * A message input to the model with a role indicating instruction following
 * hierarchy. Instructions given with the `developer` or `system` role take
 * precedence over instructions given with the `user` role. Messages with the
 * `assistant` role are presumed to have been generated by the model in previous
 * interactions.
 */
export interface EvalItem {
  /**
   * Inputs to the model - can contain template strings. Supports text, output text,
   * input images, and input audio, either as a single item or an array of items.
   */
  content:
    | string
    | ItemsAPI.InputTextContent
    | EvalItem.EvalItemContentOutputText
    | EvalItem.EvalItemInputImage
    | EvalItem.InputAudio
    | Array<EvalItemContentItem>;

  /**
   * The role of the message input. One of `user`, `assistant`, `system`, or
   * `developer`.
   */
  role: 'user' | 'assistant' | 'system' | 'developer';

  /**
   * The type of the message input. Always `message`.
   */
  type?: 'message';
}

export namespace EvalItem {
  /**
   * A text output from the model.
   */
  export interface EvalItemContentOutputText {
    /**
     * The text output from the model.
     */
    text: string;

    /**
     * The type of the output text. Always `output_text`.
     */
    type: 'output_text';
  }

  /**
   * An image input block used within EvalItem content arrays.
   */
  export interface EvalItemInputImage {
    /**
     * The URL of the image input.
     */
    image_url: string;

    /**
     * The type of the image input. Always `input_image`.
     */
    type: 'input_image';

    /**
     * The detail level of the image to be sent to the model. One of `high`, `low`, or
     * `auto`. Defaults to `auto`.
     */
    detail?: string;
  }

  /**
   * An audio input to the model.
   */
  export interface InputAudio {
    input_audio: InputAudio.InputAudio;

    /**
     * The type of the input item. Always `input_audio`.
     */
    type: 'input_audio';
  }

  export namespace InputAudio {
    export interface InputAudio {
      /**
       * Base64-encoded audio data.
       */
      data: string;

      /**
       * The format of the audio data. Currently supported formats are `mp3` and `wav`.
       */
      format: 'mp3' | 'wav';
    }
  }
}

/**
 * A single content item: input text, output text, input image, or input audio.
 */
export type EvalItemContentItem =
  | string
  | ItemsAPI.InputTextContent
  | EvalItemContentItem.EvalItemContentOutputText
  | EvalItemContentItem.EvalItemInputImage
  | EvalItemContentItem.InputAudio;

export namespace EvalItemContentItem {
  /**
   * A text output from the model.
   */
  export interface EvalItemContentOutputText {
    /**
     * The text output from the model.
     */
    text: string;

    /**
     * The type of the output text. Always `output_text`.
     */
    type: 'output_text';
  }

  /**
   * An image input block used within EvalItem content arrays.
   */
  export interface EvalItemInputImage {
    /**
     * The URL of the image input.
     */
    image_url: string;

    /**
     * The type of the image input. Always `input_image`.
     */
    type: 'input_image';

    /**
     * The detail level of the image to be sent to the model. One of `high`, `low`, or
     * `auto`. Defaults to `auto`.
     */
    detail?: string;
  }

  /**
   * An audio input to the model.
   */
  export interface InputAudio {
    input_audio: InputAudio.InputAudio;

    /**
     * The type of the input item. Always `input_audio`.
     */
    type: 'input_audio';
  }

  export namespace InputAudio {
    export interface InputAudio {
      /**
       * Base64-encoded audio data.
       */
      data: string;

      /**
       * The format of the audio data. Currently supported formats are `mp3` and `wav`.
       */
      format: 'mp3' | 'wav';
    }
  }
}

/**
 * A MultiGrader object combines the output of multiple graders to produce a single
 * score.
 */
export interface GraderMulti {
  /**
   * A formula to calculate the output based on grader results.
   */
  calculate_output: string;

  /**
   * A StringCheckGrader object that performs a string comparison between input and
   * reference using a specified operation.
   */
  graders:
    | GraderStringCheckFineTuning
    | GraderTextSimilarityFineTuning
    | GraderPythonScript
    | GraderScoreAssignmentModel
    | EvalsAPI.GraderLabelModel;

  /**
   * The name of the grader.
   */
  name: string;

  /**
   * The object type, which is always `multi`.
   */
  type: 'multi';
}

/**
 * A PythonGrader object that runs a python script on the input.
 */
export interface GraderPythonScript {
  /**
   * The name of the grader.
   */
  name: string;

  /**
   * The source code of the python script.
   */
  source: string;

  /**
   * The object type, which is always `python`.
   */
  type: 'python';

  /**
   * The image tag to use for the python script.
   */
  image_tag?: string;
}

/**
 * A ScoreModelGrader object that uses a model to assign a score to the input.
 */
export interface GraderScoreAssignmentModel {
  /**
   * The input messages evaluated by the grader. Supports text, output text, input
   * image, and input audio content blocks, and may include template strings.
   */
  input: Array<EvalItem>;

  /**
   * The model to use for the evaluation.
   */
  model: string;

  /**
   * The name of the grader.
   */
  name: string;

  /**
   * The object type, which is always `score_model`.
   */
  type: 'score_model';

  /**
   * The range of the score. Defaults to `[0, 1]`.
   */
  range?: Array<number>;

  /**
   * The sampling parameters for the model.
   */
  sampling_params?: GraderScoreAssignmentModel.SamplingParams;
}

export namespace GraderScoreAssignmentModel {
  /**
   * The sampling parameters for the model.
   */
  export interface SamplingParams {
    /**
     * The maximum number of tokens the grader model may generate in its response.
     */
    max_completions_tokens?: number | null;

    /**
     * Constrains effort on reasoning for
     * [reasoning models](https://platform.openai.com/docs/guides/reasoning). Currently
     * supported values are `none`, `minimal`, `low`, `medium`, `high`, and `xhigh`.
     * Reducing reasoning effort can result in faster responses and fewer tokens used
     * on reasoning in a response.
     *
     * - `gpt-5.1` defaults to `none`, which does not perform reasoning. The supported
     *   reasoning values for `gpt-5.1` are `none`, `low`, `medium`, and `high`. Tool
     *   calls are supported for all reasoning values in gpt-5.1.
     * - All models before `gpt-5.1` default to `medium` reasoning effort, and do not
     *   support `none`.
     * - The `gpt-5-pro` model defaults to (and only supports) `high` reasoning effort.
     * - `xhigh` is supported for all models after `gpt-5.1-codex-max`.
     */
    reasoning_effort?: AssistantsAPI.ReasoningEffort | null;

    /**
     * A seed value to initialize the randomness, during sampling.
     */
    seed?: number | null;

    /**
     * A higher temperature increases randomness in the outputs.
     */
    temperature?: number | null;

    /**
     * An alternative to temperature for nucleus sampling; 1.0 includes all tokens.
     */
    top_p?: number | null;
  }
}

/**
 * A StringCheckGrader object that performs a string comparison between input and
 * reference using a specified operation.
 */
export interface GraderStringCheckFineTuning {
  /**
   * The input text. This may include template strings.
   */
  input: string;

  /**
   * The name of the grader.
   */
  name: string;

  /**
   * The string check operation to perform. One of `eq`, `ne`, `like`, or `ilike`.
   */
  operation: 'eq' | 'ne' | 'like' | 'ilike';

  /**
   * The reference text. This may include template strings.
   */
  reference: string;

  /**
   * The object type, which is always `string_check`.
   */
  type: 'string_check';
}

/**
 * A TextSimilarityGrader object which grades text based on similarity metrics.
 */
export interface GraderTextSimilarityFineTuning {
  /**
   * The evaluation metric to use. One of `cosine`, `fuzzy_match`, `bleu`, `gleu`,
   * `meteor`, `rouge_1`, `rouge_2`, `rouge_3`, `rouge_4`, `rouge_5`, or `rouge_l`.
   */
  evaluation_metric:
    | 'cosine'
    | 'fuzzy_match'
    | 'bleu'
    | 'gleu'
    | 'meteor'
    | 'rouge_1'
    | 'rouge_2'
    | 'rouge_3'
    | 'rouge_4'
    | 'rouge_5'
    | 'rouge_l';

  /**
   * The text being graded.
   */
  input: string;

  /**
   * The name of the grader.
   */
  name: string;

  /**
   * The text being graded against.
   */
  reference: string;

  /**
   * The type of grader.
   */
  type: 'text_similarity';
}

export interface GraderRunResponse {
  metadata: GraderRunResponse.Metadata;

  model_grader_token_usage_per_model: { [key: string]: unknown };

  reward: number;

  sub_rewards: { [key: string]: unknown };
}

export namespace GraderRunResponse {
  export interface Metadata {
    errors: Metadata.Errors;

    execution_time: number;

    name: string;

    sampled_model_name: string | null;

    scores: { [key: string]: unknown };

    token_usage: number | null;

    type: string;
  }

  export namespace Metadata {
    export interface Errors {
      formula_parse_error: boolean;

      invalid_variable_error: boolean;

      model_grader_parse_error: boolean;

      model_grader_refusal_error: boolean;

      model_grader_server_error: boolean;

      model_grader_server_error_details: string | null;

      other_error: boolean;

      python_grader_runtime_error: boolean;

      python_grader_runtime_error_details: string | null;

      python_grader_server_error: boolean;

      python_grader_server_error_type: string | null;

      sample_parse_error: boolean;

      truncated_observation_error: boolean;

      unresponsive_reward_error: boolean;
    }
  }
}

export interface GraderValidateResponse {
  /**
   * The grader used for the fine-tuning job.
   */
  grader?:
    | GraderStringCheckFineTuning
    | GraderTextSimilarityFineTuning
    | GraderPythonScript
    | GraderScoreAssignmentModel
    | GraderMulti;
}

export interface GraderRunParams {
  /**
   * The grader used for the fine-tuning job.
   */
  grader:
    | GraderStringCheckFineTuning
    | GraderTextSimilarityFineTuning
    | GraderPythonScript
    | GraderScoreAssignmentModel
    | GraderMulti;

  /**
   * The model sample to be evaluated. This value will be used to populate the
   * `sample` namespace. See [the guide](/docs/guides/graders) for more details. The
   * `output_json` variable will be populated if the model sample is a valid JSON
   * string.
   */
  model_sample: string;

  /**
   * The dataset item provided to the grader. This will be used to populate the
   * `item` namespace. See [the guide](/docs/guides/graders) for more details.
   */
  item?: unknown;
}

export interface GraderValidateParams {
  /**
   * The grader used for the fine-tuning job.
   */
  grader:
    | GraderStringCheckFineTuning
    | GraderTextSimilarityFineTuning
    | GraderPythonScript
    | GraderScoreAssignmentModel
    | GraderMulti;
}

export declare namespace Graders {
  export {
    type EvalItem as EvalItem,
    type EvalItemContentItem as EvalItemContentItem,
    type GraderMulti as GraderMulti,
    type GraderPythonScript as GraderPythonScript,
    type GraderScoreAssignmentModel as GraderScoreAssignmentModel,
    type GraderStringCheckFineTuning as GraderStringCheckFineTuning,
    type GraderTextSimilarityFineTuning as GraderTextSimilarityFineTuning,
    type GraderRunResponse as GraderRunResponse,
    type GraderValidateResponse as GraderValidateResponse,
    type GraderRunParams as GraderRunParams,
    type GraderValidateParams as GraderValidateParams,
  };
}
