// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import * as MessagesAPI from './messages';
import * as AssistantsAPI from '../assistants';
import * as CompletionsAPI from '../chat/completions';
import { APIPromise } from '../../core/api-promise';
import { RequestOptions } from '../../internal/request-options';
import { path } from '../../internal/utils/path';

export class Messages extends APIResource {
  /**
   * Create a message.
   *
   * @example
   * ```ts
   * const messageObject = await client.threads.messages.create(
   *   'thread_id',
   *   { content: 'string', role: 'user' },
   * );
   * ```
   */
  create(threadID: string, body: MessageCreateParams, options?: RequestOptions): APIPromise<MessageObject> {
    return this._client.post(path`/threads/${threadID}/messages`, { body, ...options });
  }

  /**
   * Retrieve a message.
   *
   * @example
   * ```ts
   * const messageObject =
   *   await client.threads.messages.retrieve('message_id', {
   *     thread_id: 'thread_id',
   *   });
   * ```
   */
  retrieve(
    messageID: string,
    params: MessageRetrieveParams,
    options?: RequestOptions,
  ): APIPromise<MessageObject> {
    const { thread_id } = params;
    return this._client.get(path`/threads/${thread_id}/messages/${messageID}`, options);
  }

  /**
   * Modifies a message.
   *
   * @example
   * ```ts
   * const messageObject = await client.threads.messages.update(
   *   'message_id',
   *   { thread_id: 'thread_id' },
   * );
   * ```
   */
  update(
    messageID: string,
    params: MessageUpdateParams,
    options?: RequestOptions,
  ): APIPromise<MessageObject> {
    const { thread_id, ...body } = params;
    return this._client.post(path`/threads/${thread_id}/messages/${messageID}`, { body, ...options });
  }

  /**
   * Returns a list of messages for a given thread.
   *
   * @example
   * ```ts
   * const messages = await client.threads.messages.list(
   *   'thread_id',
   * );
   * ```
   */
  list(
    threadID: string,
    query: MessageListParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<MessageListResponse> {
    return this._client.get(path`/threads/${threadID}/messages`, { query, ...options });
  }

  /**
   * Deletes a message.
   *
   * @example
   * ```ts
   * const message = await client.threads.messages.delete(
   *   'message_id',
   *   { thread_id: 'thread_id' },
   * );
   * ```
   */
  delete(
    messageID: string,
    params: MessageDeleteParams,
    options?: RequestOptions,
  ): APIPromise<MessageDeleteResponse> {
    const { thread_id } = params;
    return this._client.delete(path`/threads/${thread_id}/messages/${messageID}`, options);
  }
}

export interface AssistantToolsFileSearchTypeOnly {
  /**
   * The type of tool being defined: `file_search`
   */
  type: 'file_search';
}

export interface CreateMessageRequest {
  /**
   * The text contents of the message.
   */
  content:
    | string
    | Array<
        | MessageContentImageFileObject
        | MessageContentImageURLObject
        | CreateMessageRequest.MessageRequestContentTextObject
      >;

  /**
   * The role of the entity that is creating the message. Allowed values include:
   *
   * - `user`: Indicates the message is sent by an actual user and should be used in
   *   most cases to represent user-generated messages.
   * - `assistant`: Indicates the message is generated by the assistant. Use this
   *   value to insert messages from the assistant into the conversation.
   */
  role: 'user' | 'assistant';

  /**
   * A list of files attached to the message, and the tools they should be added to.
   */
  attachments?: Array<CreateMessageRequest.Attachment> | null;

  /**
   * Set of 16 key-value pairs that can be attached to an object. This can be useful
   * for storing additional information about the object in a structured format, and
   * querying for objects via API or the dashboard.
   *
   * Keys are strings with a maximum length of 64 characters. Values are strings with
   * a maximum length of 512 characters.
   */
  metadata?: CompletionsAPI.Metadata | null;
}

export namespace CreateMessageRequest {
  /**
   * The text content that is part of a message.
   */
  export interface MessageRequestContentTextObject {
    /**
     * Text content to be sent to the model
     */
    text: string;

    /**
     * Always `text`.
     */
    type: 'text';
  }

  export interface Attachment {
    /**
     * The ID of the file to attach to the message.
     */
    file_id?: string;

    /**
     * The tools to add this file to.
     */
    tools?: Array<AssistantsAPI.AssistantToolsCode | MessagesAPI.AssistantToolsFileSearchTypeOnly>;
  }
}

/**
 * References an image [File](/docs/api-reference/files) in the content of a
 * message.
 */
export interface MessageContentImageFileObject {
  image_file: MessageContentImageFileObject.ImageFile;

  /**
   * Always `image_file`.
   */
  type: 'image_file';
}

export namespace MessageContentImageFileObject {
  export interface ImageFile {
    /**
     * The [File](/docs/api-reference/files) ID of the image in the message content.
     * Set `purpose="vision"` when uploading the File if you need to later display the
     * file content.
     */
    file_id: string;

    /**
     * Specifies the detail level of the image if specified by the user. `low` uses
     * fewer tokens, you can opt in to high resolution using `high`.
     */
    detail?: 'auto' | 'low' | 'high';
  }
}

/**
 * References an image URL in the content of a message.
 */
export interface MessageContentImageURLObject {
  image_url: MessageContentImageURLObject.ImageURL;

  /**
   * The type of the content part.
   */
  type: 'image_url';
}

export namespace MessageContentImageURLObject {
  export interface ImageURL {
    /**
     * The external URL of the image, must be a supported image types: jpeg, jpg, png,
     * gif, webp.
     */
    url: string;

    /**
     * Specifies the detail level of the image. `low` uses fewer tokens, you can opt in
     * to high resolution using `high`. Default value is `auto`
     */
    detail?: 'auto' | 'low' | 'high';
  }
}

/**
 * Represents a message within a [thread](/docs/api-reference/threads).
 */
export interface MessageObject {
  /**
   * The identifier, which can be referenced in API endpoints.
   */
  id: string;

  /**
   * If applicable, the ID of the [assistant](/docs/api-reference/assistants) that
   * authored this message.
   */
  assistant_id: string | null;

  /**
   * A list of files attached to the message, and the tools they were added to.
   */
  attachments: Array<MessageObject.Attachment> | null;

  /**
   * The Unix timestamp (in seconds) for when the message was completed.
   */
  completed_at: number | null;

  /**
   * The content of the message in array of text and/or images.
   */
  content: Array<
    | MessageContentImageFileObject
    | MessageContentImageURLObject
    | MessageObject.MessageContentTextObject
    | MessageObject.MessageContentRefusalObject
  >;

  /**
   * The Unix timestamp (in seconds) for when the message was created.
   */
  created_at: number;

  /**
   * The Unix timestamp (in seconds) for when the message was marked as incomplete.
   */
  incomplete_at: number | null;

  /**
   * On an incomplete message, details about why the message is incomplete.
   */
  incomplete_details: MessageObject.IncompleteDetails | null;

  /**
   * Set of 16 key-value pairs that can be attached to an object. This can be useful
   * for storing additional information about the object in a structured format, and
   * querying for objects via API or the dashboard.
   *
   * Keys are strings with a maximum length of 64 characters. Values are strings with
   * a maximum length of 512 characters.
   */
  metadata: CompletionsAPI.Metadata | null;

  /**
   * The object type, which is always `thread.message`.
   */
  object: 'thread.message';

  /**
   * The entity that produced the message. One of `user` or `assistant`.
   */
  role: 'user' | 'assistant';

  /**
   * The ID of the [run](/docs/api-reference/runs) associated with the creation of
   * this message. Value is `null` when messages are created manually using the
   * create message or create thread endpoints.
   */
  run_id: string | null;

  /**
   * The status of the message, which can be either `in_progress`, `incomplete`, or
   * `completed`.
   */
  status: 'in_progress' | 'incomplete' | 'completed';

  /**
   * The [thread](/docs/api-reference/threads) ID that this message belongs to.
   */
  thread_id: string;
}

export namespace MessageObject {
  export interface Attachment {
    /**
     * The ID of the file to attach to the message.
     */
    file_id?: string;

    /**
     * The tools to add this file to.
     */
    tools?: Array<AssistantsAPI.AssistantToolsCode | MessagesAPI.AssistantToolsFileSearchTypeOnly>;
  }

  /**
   * The text content that is part of a message.
   */
  export interface MessageContentTextObject {
    text: MessageContentTextObject.Text;

    /**
     * Always `text`.
     */
    type: 'text';
  }

  export namespace MessageContentTextObject {
    export interface Text {
      annotations: Array<
        | Text.MessageContentTextAnnotationsFileCitationObject
        | Text.MessageContentTextAnnotationsFilePathObject
      >;

      /**
       * The data that makes up the text.
       */
      value: string;
    }

    export namespace Text {
      /**
       * A citation within the message that points to a specific quote from a specific
       * File associated with the assistant or the message. Generated when the assistant
       * uses the "file_search" tool to search files.
       */
      export interface MessageContentTextAnnotationsFileCitationObject {
        end_index: number;

        file_citation: MessageContentTextAnnotationsFileCitationObject.FileCitation;

        start_index: number;

        /**
         * The text in the message content that needs to be replaced.
         */
        text: string;

        /**
         * Always `file_citation`.
         */
        type: 'file_citation';
      }

      export namespace MessageContentTextAnnotationsFileCitationObject {
        export interface FileCitation {
          /**
           * The ID of the specific File the citation is from.
           */
          file_id: string;
        }
      }

      /**
       * A URL for the file that's generated when the assistant used the
       * `code_interpreter` tool to generate a file.
       */
      export interface MessageContentTextAnnotationsFilePathObject {
        end_index: number;

        file_path: MessageContentTextAnnotationsFilePathObject.FilePath;

        start_index: number;

        /**
         * The text in the message content that needs to be replaced.
         */
        text: string;

        /**
         * Always `file_path`.
         */
        type: 'file_path';
      }

      export namespace MessageContentTextAnnotationsFilePathObject {
        export interface FilePath {
          /**
           * The ID of the file that was generated.
           */
          file_id: string;
        }
      }
    }
  }

  /**
   * The refusal content generated by the assistant.
   */
  export interface MessageContentRefusalObject {
    refusal: string;

    /**
     * Always `refusal`.
     */
    type: 'refusal';
  }

  /**
   * On an incomplete message, details about why the message is incomplete.
   */
  export interface IncompleteDetails {
    /**
     * The reason the message is incomplete.
     */
    reason: 'content_filter' | 'max_tokens' | 'run_cancelled' | 'run_expired' | 'run_failed';
  }
}

export interface MessageListResponse {
  data: Array<MessageObject>;

  first_id: string;

  has_more: boolean;

  last_id: string;

  object: string;
}

export interface MessageDeleteResponse {
  id: string;

  deleted: boolean;

  object: 'thread.message.deleted';
}

export interface MessageCreateParams {
  /**
   * The text contents of the message.
   */
  content:
    | string
    | Array<
        | MessageContentImageFileObject
        | MessageContentImageURLObject
        | MessageCreateParams.MessageRequestContentTextObject
      >;

  /**
   * The role of the entity that is creating the message. Allowed values include:
   *
   * - `user`: Indicates the message is sent by an actual user and should be used in
   *   most cases to represent user-generated messages.
   * - `assistant`: Indicates the message is generated by the assistant. Use this
   *   value to insert messages from the assistant into the conversation.
   */
  role: 'user' | 'assistant';

  /**
   * A list of files attached to the message, and the tools they should be added to.
   */
  attachments?: Array<MessageCreateParams.Attachment> | null;

  /**
   * Set of 16 key-value pairs that can be attached to an object. This can be useful
   * for storing additional information about the object in a structured format, and
   * querying for objects via API or the dashboard.
   *
   * Keys are strings with a maximum length of 64 characters. Values are strings with
   * a maximum length of 512 characters.
   */
  metadata?: CompletionsAPI.Metadata | null;
}

export namespace MessageCreateParams {
  /**
   * The text content that is part of a message.
   */
  export interface MessageRequestContentTextObject {
    /**
     * Text content to be sent to the model
     */
    text: string;

    /**
     * Always `text`.
     */
    type: 'text';
  }

  export interface Attachment {
    /**
     * The ID of the file to attach to the message.
     */
    file_id?: string;

    /**
     * The tools to add this file to.
     */
    tools?: Array<AssistantsAPI.AssistantToolsCode | MessagesAPI.AssistantToolsFileSearchTypeOnly>;
  }
}

export interface MessageRetrieveParams {
  /**
   * The ID of the [thread](/docs/api-reference/threads) to which this message
   * belongs.
   */
  thread_id: string;
}

export interface MessageUpdateParams {
  /**
   * Path param: The ID of the thread to which this message belongs.
   */
  thread_id: string;

  /**
   * Body param: Set of 16 key-value pairs that can be attached to an object. This
   * can be useful for storing additional information about the object in a
   * structured format, and querying for objects via API or the dashboard.
   *
   * Keys are strings with a maximum length of 64 characters. Values are strings with
   * a maximum length of 512 characters.
   */
  metadata?: CompletionsAPI.Metadata | null;
}

export interface MessageListParams {
  /**
   * A cursor for use in pagination. `after` is an object ID that defines your place
   * in the list. For instance, if you make a list request and receive 100 objects,
   * ending with obj_foo, your subsequent call can include after=obj_foo in order to
   * fetch the next page of the list.
   */
  after?: string;

  /**
   * A cursor for use in pagination. `before` is an object ID that defines your place
   * in the list. For instance, if you make a list request and receive 100 objects,
   * starting with obj_foo, your subsequent call can include before=obj_foo in order
   * to fetch the previous page of the list.
   */
  before?: string;

  /**
   * A limit on the number of objects to be returned. Limit can range between 1 and
   * 100, and the default is 20.
   */
  limit?: number;

  /**
   * Sort order by the `created_at` timestamp of the objects. `asc` for ascending
   * order and `desc` for descending order.
   */
  order?: 'asc' | 'desc';

  /**
   * Filter messages by the run ID that generated them.
   */
  run_id?: string;
}

export interface MessageDeleteParams {
  /**
   * The ID of the thread to which this message belongs.
   */
  thread_id: string;
}

export declare namespace Messages {
  export {
    type AssistantToolsFileSearchTypeOnly as AssistantToolsFileSearchTypeOnly,
    type CreateMessageRequest as CreateMessageRequest,
    type MessageContentImageFileObject as MessageContentImageFileObject,
    type MessageContentImageURLObject as MessageContentImageURLObject,
    type MessageObject as MessageObject,
    type MessageListResponse as MessageListResponse,
    type MessageDeleteResponse as MessageDeleteResponse,
    type MessageCreateParams as MessageCreateParams,
    type MessageRetrieveParams as MessageRetrieveParams,
    type MessageUpdateParams as MessageUpdateParams,
    type MessageListParams as MessageListParams,
    type MessageDeleteParams as MessageDeleteParams,
  };
}
